.add-property {
    text-align: center;
    line-height: 2.5;
    padding: 30px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

label {
    margin: 10px;
}

input {
    margin: 5px;
}

select {
    margin: 5px;
}

button {
    background-color: darkslategrey;
    color: white;
    border-radius: 30px;
}

.alert-error {
    background-color: lightcoral;
    border: 2px solid darkred;
    border-radius: 20px;
}

.alert-success {
    background-color: rgb(133, 230, 48);
    border: 2px solid darkgreen;
    border-radius: 20px;
}